.div-article {
	background-color: white;
	border: 1px solid black;
	width: 70%;
	margin: 0 auto;
	padding: 8px;
	height: auto;
}

.div-article:nth-child(1)
{
	border-top-style: none;
}




.imp {
	font-weight: bold;
	text-align: center;
}