#div-contact {

	border: 1px solid black;
	background-color: white;
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	height: auto;
	padding: 8px;
}

#submit {

	float: right;
}

p {

	text-align: center;
}

input{

	display: block;
}

textarea {

	width: 100%;
	height: 200px;
 	resize: none;
}

label {

	display: block;
	width: 80px;
	float: left;
}